.Restaurant-list-div h3 {
  padding-top: 1rem;
}

.Available-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Available-section {
  width: 50%;
  margin: 1.5rem 0;
  height: 100%;
}

#MapContainer {
  width: 100%;
  height: 60vh;
  z-index: 0;
  border-radius: 4px;
  margin: 0.5rem;
}

.MealList-div h3 {
  padding-top: 1rem;
}

.Available-filter {
  padding: 1.5rem;
}

.Available-available-meal {
  background: #089e32;
  margin: 0.5rem 2rem;
  padding: 0.75rem;
  border-radius: 4px;
}

.Available-available-meal h4 {
  transition: all 0.2s ease-in-out;
}

.Available-available-meal h4:hover {
  transform: scale(1.05);
}

.Available-available-link,
.Available-restaurant-link {
  color: #1f063d;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.Available-available-link:hover,
.Available-restaurant-link:hover {
  color: white;
}

.restaurant-item {
  background-color: #eb941a;
  padding: 0.75rem;
  border-radius: 4px;
  margin: auto;
  width: 60%;
  align-self: center;
}

@media screen and (max-width: 650px) {
  .Available-content {
    /* height: 120vh; */
    padding: 80px 0 100px 0;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .Available-section {
    width: 100%;
  }
  #Available-h1 {
    display: none;
  }
  .MealList-div {
    width: 100%;
    margin: 0;
  }
  .Restaurant-list-div {
    width: 90%;
    margin: 1rem;
    margin-bottom: 100px;
    align-items: center;
  }
}
