.Profile-image-div {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  border: solid white 5px;
}

.Profile-page {
  background: #1d1d1d;
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}

.Profile-username {
  padding-top: 100px;
  margin-bottom: 1rem;
}

.Profile-reserved-div,
.Profile-completed-div {
  margin: 1rem 0 0 0;
  padding: 1rem 2rem;
  width: 50vw;
  border-radius: 3px;
}

.Profile-reserved-div p,
.Profile-completed-div p {
  padding: 0.5rem;
}

.Profile-reserved-div h3,
.Profile-completed-div h3 {
  padding-top: 0.5rem;
}

.Profile-reserved-div {
  background-color: #eb941a;
  color: #1f063d;
  margin-top: 3rem;
}

.Profile-completed-div {
  background-color: #089e32;
  margin-bottom: 2rem;
  color: #1f063d;
}

input[type="file"] {
  background-color: rgb(97, 97, 97);
  margin: 5px;
  padding: 20px;
  border-radius: 3px;
}

input[type="file"]::file-selector-button {
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: (224, 224, 224);
  transition: 0.2s all ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  border: 3px solid #eb941a;
  transition: 0.2s all ease-in-out;
}
