.Restaurant-page {
  width: 100vw;
}

.Restaurant-cover {
  z-index: -1;
  height: 120px;
  width: 100vw;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  filter: drop-shadow(0 8px 10px #704c1a);
  -webkit-filter: drop-shadow(0 8px 10px #704c1a);
}

#Restaurant-name {
  margin-top: 82px;
  padding: 1rem;
  color: White;
  background: rgba(0, 0, 0, 0.753);
  border-radius: 10px;
}

.Restaurant-content {
  padding-top: 50px;
}

.Restaurant-description {
  padding: 10px 0 50px 0;
}

.Restaurant-sections, .portal-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Restaurant-left,
.Restaurant-right, .portal-left, .portal-right {
  width: 40%;
  padding: 1rem;
  border-radius: 5px;
  color: #1f063d;
}

.Restaurant-left {
  background: #eb941a;
}

.Restaurant-right {
  background: #089e32;
}

.Restaurant-left p {
  padding: 0.5rem;
}

.Addmeal-div {
  background: rgb(63, 63, 63);
  border-radius: 5px;
  margin: 1rem;
  padding: 1rem;
  width: 40%;
}

.Addmeal-input {
  padding: 0.5rem;
}

.Restaurant-portal {
  background: rgb(53, 53, 53);
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
}

.portal-left {
  background: #eb941a;
  margin: 1rem 0;
}

.portal-right {
  background: #089e32;
  margin: 1rem 0;
}

.available-green {
  color: #02641e;
}

.reserved-orange {
  color: rgb(139, 0, 0)
}

.portal-reserved-meal, .portal-completed-meal {
  background: rgba(0, 0, 0, 0.164);
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem;
}