.Restaurant-page {
  width: 100vw;
}

.Restaurant-cover {
  z-index: -1;
  height: 120px;
  width: 100vw;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  filter: drop-shadow(0 8px 10px #704c1a);
  -webkit-filter: drop-shadow(0 8px 10px #704c1a);
}

#Restaurant-name {
  margin-top: 82px;
  padding: 1rem;
  color: White;
  background: rgba(0, 0, 0, 0.753);
  border-radius: 10px;
}

.Restaurant-content {
  padding-top: 50px;
}

.Restaurant-description {
  padding: 10px 0 50px 0;
}

.Restaurant-sections, .portal-sections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 1rem;
}

.Restaurant-left,
.Restaurant-right, .portal-left, .portal-right {
  width: 40%;
  padding: 1rem;
  border-radius: 5px;
  color: #1f063d;
}

.Restaurant-left {
  background: #eb941a;
  padding: 3rem 1rem;
}

.Restaurant-right {
  background: #089e32;
}

.Restaurant-left p {
  padding: 0.5rem;
}

.Addmeal-div {
  border-radius: 5px;
  margin: auto;
  padding: 1rem;
}

.Addmeal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Addmeal-input {
  padding: 0.5rem;
  width: 40vw;
}

#meal-type {
  width: 80vw;
  padding-top: 1rem;;
}

select {
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.Restaurant-portal {
  background: rgb(53, 53, 53);
  width: 90%;
  padding: 1rem;
  border-radius: 5px;
}

.portal-left {
  background: #eb941a;
  margin: 1rem 0;
}

.portal-right {
  background: #089e32;
  margin: 1rem 0;
}

.available-green {
  color: #018125;
}

.reserved-orange {
  color: rgb(163, 2, 2)
}

.portal-reserved-meal, .portal-completed-meal, .Restaurant-active-meal {
  background: rgba(0, 0, 0, 0.164);
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.5rem;
}

.collection-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.UpdateRestaurant-page {
  background-color: rgb(70, 70, 70);
  margin: 1rem;
  padding: 1rem;
  border-radius:5px ;
}

.UpdateRestaurant-page div {
  padding: 0.7rem;
}

@media screen and (max-width: 450px){
  .Restaurant-sections, .portal-sections {
    flex-direction: column;
  }
  .Restaurant-left,
.Restaurant-right, .portal-left, .portal-right, .Addmeal-input {
  width: 90%;
  margin-top: 0.5rem;
}
.restaurant-left {
  padding: 0 1rem;
}
.portal-reserved-meal .Profile-image-div{
  height:200px;
  width:200px;
}
}

@media screen and (max-width: 750px){
  .portal-reserved-meal .Profile-image-div{
    height:150px;
    width:150px;
  }
}

@media screen and (max-width: 600px){
  .portal-reserved-meal .Profile-image-div{
    height:100px;
    width:100px;
  }
}