* {
  margin: auto;
  padding: 0;
}

body {
  background: #1d1d1d;
  padding-bottom: 50px;
}

.App {
  text-align: center;
  width: 100vw;
  background: #1d1d1d;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.leaflet-container {
  width: 80%;
  height: 300px;
  border: 1px solid white;
  border-radius: 3px;
}

.standardInput {
  text-align: center;
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  transition: all 1s;
  background-color: rgb(224, 224, 224);
}

.standardInput:focus,
select:focus {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  border: 2px solid #eb941a;
  outline: none;
}

.standardButton,
.standardButtonDelete,
.standardButtonGrey {
  padding: 0.5em 1em;
  margin-left: 1em;
  background: rgba(224, 224, 224);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #1f063d;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  margin: 1rem;
}

.standardButtonSmall,
.standardButtonSmallDelete {
  background: rgba(224, 224, 224);
  padding: 0.5em;
  border-radius: 2px;
  color: #1f063d;
  transition: all 0.2s ease-in-out;
  margin: 0.5rem;
  border: none;
}

.standardButtonDelete:hover,
.standardButtonSmallDelete:hover {
  transform: scale(1.05);
  background-color: rgb(170, 19, 19);
  color: white;
}

.standardButton:hover {
  transform: scale(1.05);
  background-color: #089e32;
}

.standardButtonGrey:hover,
.standardButtonSmall:hover {
  transform: scale(1.05);
  background-color: #585858;
  color: white;
}

.standardTitle {
  padding-top: 100px;
}

.Available-page h1 {
  padding-top: 100px;
  width: 90vw;
}

.standardLink {
  color: #1f063d;
  padding: 0.3rem;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.standardLink:hover {
  transform: scale(1.05);
  color: white;
}

.standardLinkBlack {
  color: rgb(70, 70, 70);
  background-color: rgb(230, 230, 230);
  padding: 20px !important;
  text-decoration: none;
  margin: 3px;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.standardLinkBlack:hover {
  background-color: #089e32;
}
